html,
body,
#app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#app {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

#app header {
  height: 1.06667rem;
  border-bottom: 0.02667rem solid #e4e4e4;
  margin-bottom: 0.56rem;
}

#app header img {
  float: left;
  margin-left: 0.29333rem;
  margin-top: 0.21333rem;
  margin-right: 0.34667rem;
  width: 0.64rem;
}

#app header ul {
  float: left;
}

#app header ul li {
  float: left;
  margin-right: 0.88rem;
  line-height: 1.06667rem;
  font-size: 0.34667rem;
}

#app header ul .active {
  color: #ff4891;
}

#app section {
  flex: 1;
  overflow: auto;
}

#app section .module1 {
  height: 0.88rem;
  width: 90%;
  margin: 0 auto;
  border-bottom: 0.02667rem solid #dfdfdf;
  margin-top: 0.85333rem;
}

#app section .module1 span:nth-child(1) {
  font-size: 0.58667rem;
  line-height: 0.58667rem;
}

#app section .module1 span:nth-child(2) {
  font-size: 0.32rem;
  border-left: 0.05333rem solid #ccc;
  padding-left: 0.13333rem;
}

#app section .module2 {
  width: 9.2rem;
  height: 8.8rem;
  border-bottom: 0.02667rem solid #ccc;
  margin: 0 auto;
  margin-top: 0.37333rem;
}

#app section .module2 .tou {
  width: 0.61333rem;
  height: 0.61333rem;
}

#app section .module2 span:nth-of-type(1) {
  margin-left: 0.21333rem;
  font-size: 0.37333rem;
}

#app section .module2 span:nth-of-type(2) {
  float: left;
  font-size: 0.32rem;
  color: #ccc;
}

#app section .module2 span:nth-of-type(3) {
  float: right;
  font-size: 0.29333rem;
  color: #505050;
}

#app section .module2 span:nth-of-type(3) img {
  width: 0.42667rem;
  margin-right: 0.13333rem;
}

#app section .module2 .banner {
  display: block;
  width: 100%;
}

#app section .module2 p {
  display: block;
  width: 8.74667rem;
  font-size: 0.50667rem;
  font-weight: bold;
  margin-bottom: 0.48rem;
}

#app section .module3 {
  width: 9.2rem;
  margin: 0 auto;
  margin-top: 0.58667rem;
}

#app section .module3 ul li {
  height: 2.77333rem;
  margin-bottom: 0.53333rem;
}

#app section .module3 ul li > img {
  float: left;
  width: 4rem;
  height: 2.74667rem;
}

#app section .module3 ul li .ri {
  float: right;
  width: 4.8rem;
}

#app section .module3 ul li .ri span:nth-of-type(1) {
  font-size: 0.32rem;
}

#app section .module3 ul li .ri span:nth-of-type(2) {
  font-size: 0.29333rem;
  color: #969696;
}

#app section .module3 ul li .ri p {
  font-size: 0.4rem;
  color: #000;
  margin: 0.4rem 0;
}

#app section .module3 ul li .ri > img {
  width: 0.48rem;
  float: right;
}

#app footer {
  height: 1.29333rem;
  border-top: 0.01333rem solid #e6e6e6;
  background-color: #fff;
}

#app footer ul {
  display: flex;
  justify-content: space-evenly;
}

#app footer ul li {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  width: 1.2rem;
  height: 1.29333rem;
}

#app footer ul li img {
  width: 0.6rem;
  height: 0.6rem;
}

#app footer ul li span {
  font-size: 0.32rem;
}
